.container{
    display: flex;
    min-height: 80vh;
}
.container .column-left{
    flex-grow: 1;
    /* background-color: #ccc; */
}
.container .column-right{
    width: 450px;
    padding: 30px 50px;
    border-left: 1px solid #ccc;
}