.product-loop-item{
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.product-loop-item .seller{
    margin: 20px 0 10px;
}
.product-loop-item .btn-container{
    display: flex;
    gap: 10px;
}
.product-loop-item .cart-button{
    display: flex;
    gap: 10px;
    padding: 10px 25px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    border: 2px solid royalblue;
    cursor: pointer;
}
.product-loop-item .cart-button:hover{
    border-color: #333;
}
.product-loop-item .remove-button{
    display: flex;
    gap: 10px;
    padding: 10px 25px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: 2px solid orangered;
    cursor: pointer;
}
.product-loop-item .remove-button:hover{
    border-color: #333;
}